/* ── Content area offset ───────────────────────────────────────────────── */
@media (min-width: 922px) {
    .ob-space-left {
        margin-left: 215px;
    }

    .ob-space-left.collapsed {
        margin-left: 44px;
    }

    .ob-col-lateral {
        left: -100px;
    }

    .ob-col-lateral .ob-navbar-lateral {
        margin-left: 100px;
    }

    .ob-nav-border,
    .ob-nav-border2 {
        display: none;
    }

    .ob-nav-center {
        position:  absolute;
        top:       50%;
        left:      50%;
        transform: translate(-50%, -52%);
    }

    .ob-nav-text {
        padding: 3px 15px 4px;
    }
}


@media (max-width: 920px) {
    .ob-navbar-lateral {
        height:     100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .ob-col-lateral {
        left: -100px;
    }

    .ob-navbar-lateral {
        width: 285px;
        left:  -270px;
    }

    .ob-col-lateral .ob-nav-lateral {
        margin-left: 100px;
    }

    .ob-nav-right {
        display: none;
    }

    .ob-nav-center {
        position:  absolute;
        top:       50%;
        left:      58%;
        transform: translate(-50%, -51%);
    }

    .ob-collapse-menu {
        display: none;
    }
}
